
.fondo {
    background-color: rgb(139, 165, 204);
    padding: 20px;
}

.fondo2 {
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(133, 133, 133);
    
}

.factorial {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 5px 5px 5px 5px rgb(133, 133, 133);
    
}
.gris {
    background-color: rgb(221, 221, 221);
    border-radius: 8px;
    padding: 10px;

}

table {
    width: 40%;
    text-align: center;
    margin:10px;
}

table,th,td {
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-collapse: collapse;
    border-spacing: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: left;
}

tr:nth-child(odd){
    background-color: rgb(238, 238, 238);
}

tr:first-child {
    background-color: rgb(87, 87, 87);
    color: white;
}

