@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1 {
    font-family: open sans;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    font-family: open sans;
}

.positive {
    color:blue;
}

.negative {
    color: red;
}

body {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: rgba(209, 214, 224, 0.664);
}