body {
    background-color: rgb(219, 207, 150);
}

h1 {
    text-align: center;
    color:blue;
}

h2 {
    text-align: center;
}

td, tr {
    padding: 20px;
}

table {
    background-color: rgb(174, 192, 230);
    margin-left: auto;
    margin-right: auto;
}

table tr:nth-child(even) {
    background-color: rgb(142, 168, 223);
}

